@import "@styles/mixins.scss";


.button {
  width: auto;
  white-space: nowrap;
  //padding: 0 20px 0 20px;
  padding-top: calc(17px + (70 - 17) * ((100vh - 700px) / (1440 - 700)));
  padding-bottom: calc(17px + (70 - 17) * ((100vh - 700px) / (1440 - 700)));
  padding-left: calc(5px + (20 - 5) * ((100vw - 700px) / (2560 - 1176))); //20px;
  padding-right: calc(5px + (20 - 5) * ((100vw - 700px) / (2560 - 1176))); //20px;
  //height: calc(150 + (400 - 150) *  ((100vh - 800px) / (1440 - 800)));//150px;
  //max-height: 150px;
  //min-height: 50px;
  border-radius: 10px;
  display: inline; //inline-block;
  text-align: center;
  background-color: rgba(67, 158, 126); //rgba(73, 159, 119);
  //font-size: calc(15px + (60 - 15) * ((100vh - 700px) / (1440 - 700)));//40px;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 300px; //25px;


  //box-shadow: 4px 4px 4px 4px rgba(19, 17, 18, 0.7);
  box-shadow: inset 0 0 10px rgba(19, 17, 18, 0.5);
  @include adaptive("xmd") {
    text-align: center;
    padding: 0 20px 0 20px;
    margin-left: 0;
    width: 100%;
    position: absolute;
    height: 150px;
    //top: 10px;
    display: block;
  }
}