.application_proposal {
  display: inline-flex;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  border-width: 1px;
  width: 100%;
  border-color: rgb(193, 198, 199, 0.3);
  margin-top: 10px;
}