.proposal_div {
  border-radius: 10px;
  border-width: 1px;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  border-color: rgb(193, 198, 199, 0.3);
}

.proposal {
  display: inline-flex;
  border-bottom-width: 1px;
  padding: 5px 5px 5px 5px;
  border-color: rgb(193, 198, 199, 0.3);
}

.proposal_mobile {
  border-bottom-width: 1px;
  padding: 5px 5px 5px 5px;
  border-color: rgb(193, 198, 199, 0.3);
}

.title {
  border-bottom-width: 1.5px;
  border-color: rgb(193, 198, 199, 0.3);
}