.category_block_1 {
  cursor: pointer;
  width: 288px;
  min-height: 170px;
  margin-left: 4px;
  border-radius: 10px;
}

.category_block_2 {
  cursor: pointer;
  width: 229px;
  min-height: 140px;
  margin-left: 4px;
  border-radius: 10px;
}

.category_block_3 {
  cursor: pointer;
  width: 190px;
  min-height: 90px;
  margin-left: 4px;
  border-radius: 10px;
}

